{{> head}}
{{> menu}}
<div class="row">
    <div class="col-8">
        <!--Columna que va tener una descripcion-->
        <h3> Imagen de Muestra </h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia libero debitis nam blanditiis et iure! Iste quod repellat odio. Earum pariatur aliquam reiciendis quae quaerat optio error? Sit, officiis consequatur.
        </p>
    </div>

    <div class="col-4">   
    <!--columna que va a contener img-->
    <img src="assets/img/auto.png" class="img-thumbnail">   
    </div>
</div>
    
{{> footer}}